@font-face {
  font-family: "iconfont"; /* Project id 3908165 */
  src: url('iconfont.ttf?t=1676967760621') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-keybroad:before {
  content: "\e69f";
}

.i-plus:before {
  content: "\e68e";
}

.i-speak:before {
  content: "\e618";
}

